<div class="container">
  <div class="row" ng-if="getCurrentUser().role==='user'">
    <div class="col-lg-12">
      <h1 class="page-header">Welcome to TestApp</h1>
      <button ui-sref="test" type="button" ng-disabled="isTestAllowed" class="btn btn-primary">Take test</button>
      <p ng-if="isTestAllowed">You have already taken the test.</p>
    </div>
  </div>






  <div class="row" ng-if="getCurrentUser().role==='admin'">
    <div class="col-lg-12">
      <h1 class="page-header">Admin logined</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>
</div>
